<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
   PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- settings 안에는 MyBatis가 동작할 때 어떻게 동작할지를 설정하는 내용이 포함되어 있음 상당히 많은 설정이 들어있는데, 
		대부분 기본값으로 설정된 내용을 그대로 사용함 아래 부분만 일반적으로 설정해서 사용함( -->

	<settings>
		<!-- jdbc쪽에서 쿼리를 날렸는데(select했는데) 아무것도 없으면 null값을 보내겠다 라는 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />

		<!-- Log4J 설정 Query가 실행될 때 마다 실행되는 SQL Query와 그 결과를 Log로 출력!(디버깅할 때 편리함) -->
		<setting name="logImpl" value="LOG4J2" />
	</settings>

	<!-- 타입 별칭은 자바 타입에 대한 좀 더 짧은 이름을 설정하기 위해 사용함 오직 XML설정에서만 사용되며, 타이핑을 줄이기 
		위해 사용함 -->
	<typeAliases>
		<typeAlias alias="Book" type="my.spring.springweb.booksearch.vo.BookSearchVO" />
		<typeAlias alias="Request" type="my.spring.springweb.booksearch.vo.RequestVO" />
		<typeAlias alias="Member" type="my.spring.springweb.sample07.member.vo.MemberVO" />
		<typeAlias alias="Point" type="my.spring.springweb.sample07.point.vo.PointVO" />
	</typeAliases>
</configuration>